<br><br>

<h2>TipTap Editor</h2>
<form>
  <input id="y" type="hidden" name="content">
  <tip-tap-element input="y"></tip-tap-element>
</form>

<br><br>
<h2>Trix Editor</h2>
<form>
  <input id="x" type="hidden" name="content">
  <trix-editor input="x"></trix-editor>
</form>
